@import "vars";
@import "tab_menu";
@import "sections";
@import "languages";
@import "icons";


html, body {
  width: 100%;
}

label, p, a, h1, div {
  font-family: Roboto, sans-serif;
}

.application-loader .loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui.container {
  width: 100%;
}

table {
  tr.unselected td {
    color: rgba(40,40,40,.3);
  }
}