@import "vars";
@import "tab_menu";
@import "sections";


html, body {
  width: 100%;
}

label, p, a, h1, div {
  font-family: Roboto, sans-serif;
}

.application-loader .loader {
  display: flex;
  align-items: center;
  justify-content: center;
}