<div class="languages-section">
    <div class="ui form grid">
        <div class="row">
            <div class="section-title">
                <h1>PHRASES</h1>
            </div>
        </div>


        <div class="sixteen wide column">
            <button class="ui right floated button black" {{action 'next'}}>Next</button>
            <button class="ui right floated button black" {{action 'prev'}}>Prev</button>
        </div>
    </div>
</div>

