<div class="rpb-container">
    <div class="navigation-menu">

        {{#link-to 'languages' tagName="div"class="menu-item languages"}}
            LANGUAGES
        {{/link-to}}
        {{#link-to 'icons' tagName="div"class="menu-item icons"}}
            ICONS
        {{/link-to}}
        {{#link-to 'phrases' tagName="div"class="menu-item phrases"}}
            PHRASES
        {{/link-to}}
        {{#link-to 'links' tagName="div"class="menu-item links"}}
            LINKS
        {{/link-to}}
        {{#link-to 'extras' tagName="div"class="menu-item extras"}}
            EXTRAS
        {{/link-to}}

        <span class="divider"></span>
    </div>

    {{outlet}}
</div>

