<div class="languages-section">
    <div class="ui form grid">
        <div class="sixteen wide column">
            <div class="ui header section-title">
                <div class="content">
                    <h1>DOCS</h1>
                    <div class="sub header">{{selectedDocument}} document selected</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="ui form column">
                <div class="grouped inline fields">
                    {{#each-in documents as |name doc|}}
                        <div class="field">
                            {{ui-radio name="document" label=name value=name current=selectedDocument
                                       onChange=(action 'select' name)}}
                        </div>
                    {{/each-in}}
                </div>
            </div>
        </div>
        <div class="sixteen wide column">
            <button class="ui right floated button black" {{action 'next'}}>Next</button>
        </div>
    </div>
</div>

