<div class="section-title">
    <h1>DOCUMENTS</h1>
</div>

<div class="ui form">
    <div class="grouped inline fields">
        {{#each-in documents as |name doc|}}
            <div class="field">
                {{ui-radio name="document" label=name value=name onChange=(action 'documentSelected' name)}}
            </div>
        {{/each-in}}
    </div>
</div>
