<div class="extras-section">
    <div class="ui form grid">
        <div class="sixteen wide column">
            <div class="ui header section-title">
                <div class="content">
                    <h1>EXTRAS</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="ui row">
        <h4>COLORING DRAWINGS</h4>
    </div>

    <div class="ui items">
        {{#each drawings as |drawing|}}
            <div class="item">

                <div class="ui tiny image">
                    <img src={{drawing.url}}>
                </div>
                <div class="middle aligned content">
                    <div class="header">{{ui-checkbox
                            label=drawing.label
                            checked=drawing.isSelected
                            onChange=(action (mut drawing.isSelected))
                    }}</div>
                </div>
            </div>
        {{/each}}
    </div>

    <div class="row">
        <div class="ui sixteen wide column">
            <button class="ui floated button black" {{action "generateJSON"}}>Generate JSON</button>
        </div>
    </div>
</div>

{{#ui-modal name="json-preview" class="json-preview-modal" onApprove=(action 'closeModal') }}
    <i class="close icon"></i>
    <div class="description">
        <pre id="json-preview">{{generatedJSON}}</pre>
    </div>
    <div class="actions">
        <div class="ui positive right labeled icon button">
            Close
        </div>
    </div>
{{/ui-modal}}

